@import url("https://drive.google.com/drive/folders/1DLA0SRewIXmFP3jO60umGwmLOEqm0Jkn") * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    display: flex;
    height: 100vh;
    justify-content: right;
    align-items: center;
    background: #0e0e0e;
  }
  .container {
  }
  